#my-foods {
	#protein {
		background: url("../images/lamb.jpg") no-repeat center;
		background-size: cover;
	}
	#vegetables {
		background: url("../images/okra.jpg") no-repeat center;
		background-size: cover;	
	}
	#fruits {
		background: url("../images/peaches.jpg") no-repeat center;
		background-size: cover;		
	}
	#nuts {
		background: url("../images/nuts.jpg") no-repeat center;
		background-size: cover;		
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		// background: -moz-linear-gradient(left,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 24%, rgba(0,0,0,0) 73%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
		// background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.5)), color-stop(24%,rgba(0,0,0,0)), color-stop(73%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
		// background: -webkit-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0) 73%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
		// background: -o-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0) 73%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
		// background: -ms-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0) 73%,rgba(0,0,0,0.5) 100%); /* IE10+ */
		// background: linear-gradient(to right,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0) 73%,rgba(0,0,0,0.5) 100%); /* W3C */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=1 ); /* IE6-9 */
		background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 53%, rgba(0,0,0,0) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(53%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0)));
		background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 53%,rgba(0,0,0,0) 100%);
		background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 53%,rgba(0,0,0,0) 100%);
		background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 53%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 53%,rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
		z-index: 1;
		display: block;
	}
	.food-category {
		position: relative;
		display: block;
		padding: 25px;
		background: #43AA8B;
		color: white;
		.food-header {
			h2.food-name {
				position: relative;
				z-index: 2;
				font-size: 5em;
				font-weight: 100;
				text-align: center;
			}
		}
		.food-list {
			font-size: 2.5em;
			font-weight: 100;
			text-align: center;
			position: relative;
			z-index: 3;
			ul {
				padding: 0;
				// padding-right: 50px;
				padding-right: 0;
				> li {
					list-style: none;
					> a {
						color: white;
						&:hover {
							text-decoration: none;
							span {
								border-bottom: 3px solid #FCB03C;
								padding-bottom: 3px;
							}
						}
						span {
							-webkit-transition: all 0.1s linear;
							-moz-transition: all 0.1s linear;
							transition: all 0.1s linear;
							padding-bottom: 0px;
							border-bottom: 3px solid rgba(0,0,0,0);
						}
					}
				}
			}
		}
	}
}