			<div id="food-detail">
				<header class="header-main" style="background: url('images/okra.jpg') no-repeat center; background-size: cover;">
					<h1>Salmon</h1>
				</header>
				<div class="food-detail-content">
					<div class="container">
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod rem ad, iste doloremque, magni voluptas totam veritatis dicta fuga sed cupiditate facilis voluptates illo velit nobis officia, maxime fugiat temporibus!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod rem ad, iste doloremque, magni voluptas totam veritatis dicta fuga sed cupiditate facilis voluptates illo velit nobis officia, maxime fugiat temporibus!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod rem ad, iste doloremque, magni voluptas totam veritatis dicta fuga sed cupiditate facilis voluptates illo velit nobis officia, maxime fugiat temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et assumenda aperiam debitis facere vel quaerat ex id natus! Amet, laborum harum! Id nemo alias aspernatur eum molestias ut distinctio, odit!</p>
					</div>
					<div class="snp-boxes">
						<div class="container">
							<div class="row">
								<div class="col-md-4">
									<div class="snp-item">
										<div class="panel panel-default">
										  <div class="panel-body">
										  	<h4>Lorem Ipsum</h4>
										    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio porro, repellendus officiis distinctio aliquam hic dolorum quasi, deleniti sed, architecto ratione a! Quae tenetur, voluptatem at illo cum officia repellat.</p>
										  </div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="snp-item">
										<div class="panel panel-default">
										  <div class="panel-body">
										  	<h4>Lorem Ipsum</h4>
										    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio porro, repellendus officiis distinctio aliquam hic dolorum quasi, deleniti sed, architecto ratione a! Quae tenetur, voluptatem at illo cum officia repellat.</p>
										  </div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="snp-item">
										<div class="panel panel-default">
										  <div class="panel-body">
										  	<h4>Lorem Ipsum</h4>
										    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio porro, repellendus officiis distinctio aliquam hic dolorum quasi, deleniti sed, architecto ratione a! Quae tenetur, voluptatem at illo cum officia repellat.</p>
										  </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="graphs">
						<div class="graph">
							<!-- <img src="http://placehold.it/1200x500" alt=""> -->
							<div class="container">
								<h2>Graph Name</h2>
								<div class="row">
									<div class="col-md-3">
										<div id="piechart"></div>
									</div>
									<div class="col-md-3">
										<div id="piechart1"></div>
									</div>
									<div class="col-md-3">
										<div id="piechart2"></div>
									</div>
									<div class="col-md-3">
										<div id="piechart3"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div id="piechart4"></div>
									</div>
									<div class="col-md-3">
										<div id="piechart5"></div>
									</div>
									<div class="col-md-3">
										<div id="piechart6"></div>
									</div>
									<div class="col-md-3">
										<div id="piechart7"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt minima nostrum eius est excepturi nisi ducimus libero fuga voluptatibus saepe mollitia harum asperiores autem consectetur illum hic neque, vero sed.</p> -->
						<a href="./nutrient.html" class="btn btn-lg btn-within center">Learn More <span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
					
				</div>
			</div>