<div id="my-foods">
        <!--
        ======================
        FOOD SECTION
        ======================
        -->
        <section class="food-category" id="protein">
          <div class="overlay"></div>
          <div class="container">
            <header class="food-header">
              <h2 class="food-name">Protein</h2>
            </header>
            <div class="food-list">
              <ul>
                <li><a ng-href="#/salmon/"><span>Salmon</span></a></li>
                <li><a href="#"><span>Lamb</span></a></li>
                <li><a href="#"><span>Duck</span></a></li>
                <li><a href="#"><span>Turkey</span></a></li>
                <li><a href="#"><span>Cod</span></a></li>
              </ul>
            </div>
          </div>
        </section>
        <!--
        ======================
        FOOD SECTION
        ======================
        -->
        <section class="food-category" id="vegetables">
          <div class="overlay"></div>
          <header class="food-header">
            <h2 class="food-name">Vegetables</h2>
          </header>
          <div class="food-list">
            <ul>
              <li><a href="#"><span>Artichoke</span></a></li>
              <li><a href="#"><span>Beets</span></a></li>
              <li><a href="#"><span>Broccolli</span></a></li>
              <li><a href="#"><span>Cauliflower</span></a></li>
              <li><a href="#"><span>Okra</span></a></li>
            </ul>
          </div>
        </section>
        <!--
        ======================
        FOOD SECTION
        ======================
        -->
        <section class="food-category" id="fruits">
          <div class="overlay"></div>
          <header class="food-header">
            <h2 class="food-name">Fruits</h2>
          </header>
          <div class="food-list">
            <ul>
              <li><a href="#"><span>Raspberries</span></a></li>
              <li><a href="#"><span>Grapefruit</span></a></li>
              <li><a href="#"><span>Pomegranate</span></a></li>
              <li><a href="#"><span>Prunes</span></a></li>
              <li><a href="#"><span>Apricot</span></a></li>
            </ul>
          </div>
        </section>
        <!--
        ======================
        FOOD SECTION
        ======================
        -->
        <section class="food-category" id="nuts">
          <div class="overlay"></div>
          <header class="food-header">
            <h2 class="food-name">Nuts</h2>
          </header>
          <div class="food-list">
            <ul>
              <li><a href="#"><span>Almonds</span></a></li>
              <li><a href="#"><span>Chia Seeds</span></a></li>
              <li><a href="#"><span>Brazil Nuts</span></a></li>
              <li><a href="#"><span>Turkey</span></a></li>
              <li><a href="#"><span>Cod</span></a></li>
            </ul>
          </div>

        </section>
      </div>